<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h1>About</h1>

      <span class="blkhd">New Zealand Office<br /><img src="images/space.gif" width="2" height="10" /><br /></span>
      <br />
      Terminus Technologies Limited<br />
      141A, Dey Street, Hamilton East,<br />
      Hamilton - 3216 <br />
      New Zealand<br />            
      <strong>Tel:</strong> +64 21 1900907<br />
      <br />



    
    {{>footer}}
  </body>
</html>
