<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h1>Welcome to Terminus Technologies LTD</h1>
    <h3>CRM System</h3>
    <p>Terminus Customer Relationship Management solution is a comprehensive solution designed for large and small scale enterprise and organizations to help them manage their interaction with their customers.</p>
    <h3>Services</h3>
    <p>Project management is a sum of defined and undefined areas starting from cost of Project, timeline, quality assurance, human resource aggregation integration of communication with different teams to achieve one direction.</p>
    {{>footer}}
    <h3>Our Team Terminus</h3>

    <div>
      <h3>Manager</h3>
      <img style="width:200px;height:200px" title="ab  dfasdf sdc" src="https://scontent.fkhi11-1.fna.fbcdn.net/v/t1.0-9/51381936_2914158675476984_5100471245380517888_n.jpg?_nc_cat=100&_nc_ht=scontent.fkhi11-1.fna&oh=7c82e42255042d49e6380942f7a18d5a&oe=5CDF088E">
    </div>

    <div>
      <img style="width:200px;height:200px" title="ab  dfasdf sdc" src="https://scontent.fkhi11-1.fna.fbcdn.net/v/t1.0-9/51381936_2914158675476984_5100471245380517888_n.jpg?_nc_cat=100&_nc_ht=scontent.fkhi11-1.fna&oh=7c82e42255042d49e6380942f7a18d5a&oe=5CDF088E">
      <img style="width:200px;height:200px" src="https://scontent.fkhi11-1.fna.fbcdn.net/v/t1.0-9/17353333_684340878413614_6423081482410787149_n.jpg?_nc_cat=108&_nc_ht=scontent.fkhi11-1.fna&oh=fe3461ce389e7600f35c4fb3cec54c69&oe=5CED4028">
      <img style="width:200px;height:200px" src="https://scontent.fkhi11-1.fna.fbcdn.net/v/t1.0-9/21558969_1594004553991036_2949927524325979683_n.jpg?_nc_cat=101&_nc_ht=scontent.fkhi11-1.fna&oh=a0a677a83f89d5d8e8199c3e688b821b&oe=5D224443">
      <img style="width:200px;height:200px" src="https://scontent.fkhi11-1.fna.fbcdn.net/v/t1.0-9/45099187_2066825330060903_6349514504618901504_n.jpg?_nc_cat=109&_nc_ht=scontent.fkhi11-1.fna&oh=34fcda24bd3375398d689924b17f2707&oe=5CE56BA7">
      <img style="width:200px;height:200px" src="https://scontent.fkhi11-1.fna.fbcdn.net/v/t1.0-9/31899039_1259816927485796_4867587479957405696_n.jpg?_nc_cat=108&_nc_ht=scontent.fkhi11-1.fna&oh=f1ffd9b7cc8ff3a3dad1f4bd2a2a7212&oe=5CF613BA"> 
    </div>
  </body>
</html>
