<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h1>Welcome to Terminus Technologies LTD</h1>
    <h3>CRM System</h3>
    <p>Terminus Customer Relationship Management solution is a comprehensive solution designed for large and small scale enterprise and organizations to help them manage their interaction with their customers.</p>
    <h3>Services</h3>
    <p>Project management is a sum of defined and undefined areas starting from cost of Project, timeline, quality assurance, human resource aggregation integration of communication with different teams to achieve one direction.</p>
    {{>footer}}
  </body>
</html>
